<head>
  <style>
    body{
        background-color: darkgrey;
        color: #2d57c1;
        font-size: 20;
    }
  </style>
</head>
<body>
    <a href="ipsum.html"><button>Go Back</button></a>
</body>
<%= @content %>
